.todo__item {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 50px 10fr 50px;
    align-items: center;
    cursor: pointer;
    user-select: none;

    .todo__icon {
        font-size: 30px;
    }
}